config.json
links.txt
extract_data.py
test.py
store_covid_data_on_gcloud.bat
.vscode
vaccination_data.txt
fetch_area_data.py

local_db_config.json
.env

testing/testing_map.ipynb
testing/testing_map.ipynb
testing/testing.ipynb
testing/testing2.ipynb
.idea
__pycache__